<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/account-style.css}" rel="stylesheet" type="text/css">

        <title>NUMDEAL - Sign In</title>
    </head>

    <body class="body">
        <div class="background-body">
            <div class="wrap">
                <img class="logo" th:src="@{/images/logo_black.png}" alt="NUMDEAL LOGO">

                <form th:action="@{/signin}" method="POST" th:object="${signInRequestForm}">
                    <div class="btn-group type-group" id="authority" role="group" th:field="*{authority}">
                        <input type="radio" class="btn-check" name="authority" id="user" autocomplete="off" value="U" checked>
                        <label class="btn btn-outline-dark type-button" for="user">일반회원</label>

                        <input type="radio" class="btn-check" name="authority" id="seller" autocomplete="off" value="S">
                        <label class="btn btn-outline-dark type-button" for="seller">판매자</label>
                    </div>

                    <div class="mb-3 input-box">
                        <label class="form-label" for="password">아이디</label>
                        <input type="email" class="form-control" id="id" name="id" th:field="*{id}" placeholder="">
                    </div>

                    <div class="mb-3 input-box">
                        <label class="form-label" for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="">
                    </div>

                    <button type="submit" class="btn btn-dark sign-up-button">로그인</button>

                    <hr>
                </form>

                <small class="form-label text-muted" for="signup-button">아직 회원이 아니라면?</small>
                <button type="button" th:onclick="|location.href='@{/signup/user}'|" class="btn btn-dark sign-up-button" id="signup-button">회원가입</button>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function() {
                let resultObject = [[${result}]];

                if(resultObject != null) {
                    alert(resultObject.message);
                }
            })
        </script>
    </body>
</html>